<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Page</title>
  </head>
  <body>
    <center>
      <h1>Register Page</h1>

      <form method="POST" action="">
        {{ form2.hidden_tag() }} {{ form2.username }}
        <p></p>
        {{ form2.firstName }}
        <p></p>
        {{ form2.lastName }}
        <p></p>
        {{ form2.email }}
        <p></p>
        {{ form2.password }}
        <p></p>
        {{ form2.submit }}
      </form>
    </center>
  </body>
</html>
